@import "tailwindcss";

:root {
  --background: #fff5e6;
  --foreground: #ff6b4a;
  --secondary: #2c5282;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.font-neucha {
  font-family: var(--font-neucha), sans-serif;
}

/* Скрываем полосу прокрутки, но сам скролл работает. */
.no-scrollbar {
  -ms-overflow-style: none; /* IE и старый Edge. */
  scrollbar-width: none; /* Firefox. */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome и Safari. */
}
